:root {
    --mbdbi-font-tiny: 8pt;
    --mbdbi-font-small: 10pt;
    --mbdbi-font-normal: 12pt;
    --mbdbi-font-large: 14pt;
    --mbdbi-font-xlarge: 18pt;
    --mbdbi-font-xxlarge: 22pt;
    --mbdbi-font-mega: 32pt;
    --mbdbi-font-uber: 48pt;

    --mbdbi-hgap: 0.5rem;
    --mbdbi-2hgap: calc(2 * var(--mbdbi-hgap));
    --mbdbi-h2gap: calc(0.5 * var(--mbdbi-hgap));
    --mbdbi-vgap: 0.5rem;
    --mbdbi-2vgap: calc(2 * var(--mbdbi-vgap));
    --mbdbi-v2gap: calc(0.5 * var(--mbdbi-vgap));
    --mbdbi-x-gap: var(--mbdbi-vgap);

    --mbdbi-form-pad: var(--mbdbi-2hgap);
    --mbdbi-form-pad2: calc(0.5 * var(--mbdbi-2hgap));

    --mbdbi-anim-speed: 200ms;

    --mbdbi-clr-base: #dff2ff;
    --mbdbi-clr-based1: #88cdfe;
    --mbdbi-clr-based2: #4097d5;
    --mbdbi-clr-based3: #0b72ba;
    --mbdbi-clr-disabled-light: #e7e7e7;
    --mbdbi-clr-disabled-dark: #bababa;

    --mbdbi-border-radius: 5px;
}

.mbdbi-app-tainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mbdbi-array-tainer {
}

.mbdbi-array-add-item-button {
    width: 12rem;
}

.mbdbi-array-add-item-button-inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap);
}

.mbdbi-array-add-item-button-plus {
    font-weight: bold;
    font-size: var(--mbdbi-font-large);
}

.mbdbi-array-add-item-button-tainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.mbdbi-array-add-item-button-title {
}

.mbdbi-array-collapsible-tainer {
    grid-column: 1 / 3;
    padding-left: var(--mbdbi-form-pad);
}

.mbdbi-array-complex-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap);
    justify-content: end;
}
.mbdbi-array-complex-header-line {
    background-color: var(--mbdbi-clr-based1);
    flex: 1;
    height: 1px;
}
.mbdbi-array-complex-header-title {
    font: var(--mbdbi-font-large);
    font-weight: bold;
}

.mbdbi-block {
    border-top-left-radius: var(--mbdbi-border-radius);
    border-bottom-left-radius: var(--mbdbi-border-radius);

}

.mbdbi-block-dark {
    background-color: #dff2ff;
}

.mbdbi-block-light {
    background-color: #fff;
}

.mbdbi-collapsible-tainer {
    display: flex;
    flex-direction: column;
}

.mbdbi-collapsible-header-tainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-2hgap);
}

.mbdbi-field-is-required-marker {
    margin-left: var(--mbdbi-h2gap);
    vertical-align: super;
}

.mbdbi-field-is-required-marker-item {
    color: #777;
}

.mbdbi-field-is-required-marker-section {
    color: black;
}

.mbdbi-form-nav-list-item-title {
    background: none;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-h2gap);

    transition: background-color var(--mbdbi-anim-speed);
}

.mbdbi-form-nav-list-item-title-highlighted {
    background-color: var(--mbdbi-clr-base);
}

.mbdbi-form-nav-link {
    color: black;
    font-weight: bold;
    padding-right: var(--mbdbi-hgap);
}
.mbdbi-form-nav-link:hover {
    color: var(--mbdbi-clr-based3);
}

.mbdbi-form-root {
    display: flex;
    flex-direction: column;
    gap: var(--mbdbi-2hgap);
}

.mbdbi-group-container-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap);
}

.mbdbi-help-popup-trigger {
    color: var(--mbdbi-clr-based2);
}

div.mbdbi-deposition-error-report {
    font-size: var(--mbdbi-font-large);
}

li.mbdbi-deposition-error-report {
    font-size: var(--mbdbi-font-large);
    margin-bottom: var(--mbdbi-vgap);
}

ul.mbdbi-deposition-error-report {
    list-style: square;
}

.mbdbi-center-text {
    text-align: center;
}

.mbdbi-dialog {
    background-color: rgba(0,0,0,.12);
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}

.mbdbi-dialog-button-bar {
    display: flex;
    flex-direction: row;
    padding: var(--mbdbi-x-gap);
    width: 100%;
}

.mbdbi-dialog-content {
    flex: 1;
    margin: var(--mbdbi-x-gap);
    overflow: scroll;
}

.mbdbi-dialog-inner {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-height: 80%;
    max-width: 67%;
    position: relative;
}

.mbdbi-dialog-title {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    padding: var(--mbdbi-x-gap);
}

.mbdbi-icon-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap);
}

.mbdbi-input-tainer {
}

.mbdbi-item-grid {
    align-items: center;
    display: grid;
    column-gap: var(--mbdbi-2hgap);
    grid-template-columns: auto 1fr;
    padding-top: var(--mbdbi-form-pad2);
    row-gap: var(--mbdbi-form-pad2);
}

.mbdbi-item-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap)
}

.mbdbi-item-label-text {
    font-size: var(--mbdbi-font-normal);
}

.mbdbi-line-spacer {
    height: var(--mbdbi-vgap);
}

.mbdbi-navigation-tainer {
    overflow-y: scroll;
    width: 20rem;
}

.mbdbi-right-offset {
    margin-right: calc(2 * var(--mbdbi-form-pad));
}

.mbdbi-section {
    border-left: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: var(--mbdbi-vgap);
    grid-column: span 2;
    margin-top: var(--mbdbi-form-pad2);
    padding: var(--mbdbi-form-pad) 0 var(--mbdbi-form-pad) var(--mbdbi-form-pad);
}

.mbdbi-section-disabled-light {
    background-color: var(--mbdbi-clr-disabled-light);
}

.mbdbi-section-disabled-dark {
    background-color: var(--mbdbi-clr-disabled-dark);
}

.mbdbi-section-has-errors {
    border-left: 1px solid red;
}

.mbdbi-section-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-hgap)
}

.mbdbi-section-label-text {
    font-size: var(--mbdbi-font-normal);
    font-weight: bold;
}

.mbdbi-strong {
    font-weight: bold;
}

.mbdbi-variant-selection-tainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--mbdbi-form-pad);
}

.mbdbi-voc-entry-detail-name {
    font-weight: bold;
}

.mbdbi-voc-entry-details {
    display: grid;
    column-gap: var(--mbdbi-hgap);
    grid-template-columns: auto 1fr;
}

.mbdbi-voc-entry-title {
    font-weight: bold;
}
